body {
    background-image: url(imagenes/img-fondo-web-sislan.jpg)
}
navbar{
    background-color: aqua;
}
.botton-click{
    background-color: rgb(21, 208, 214);
    color: rgb(54, 6, 6);
    margin: 0 auto;
    width: 200px;
    height: 50px;

}
.subtitulo{
    text-align: end!important;
}
h5{
    display: inline;
    font-size: 2rem;
}
.Info{
    display: flex;
    font-size: 1rem;
    top: 30%;
    flex-direction: row ;
}
.position-h3{
    top: 30%;
}
.container {
    display: flex;
    flex-direction: row
}
.central {
    display: flex;
    flex-direction: row-reverse;
}
.card{
    width: 50%;
    margin: 10px;
}
.zona {
    display: flex;
    flex-direction: row;
    font-size: 2rem;
}
.Carousel {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row
}
@media(min-width:768px){
    #imagenesEnCarousel{
        width: 400px;
        margin:0%
        display flex;
        justify-content: center;
    }
}